<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <%- include ('./partials/navbar.ejs') %>
  <div id="detail">
    <div id="detail-wrap">
      <div class="header">
        <p id="author">Ditulis oleh <%= data.author %></p>
        <h1 id="title"><%= data.title %></h1>
        <p id="time"><%= data.time %></p>
      </div>
      <%- file %>
    </div>
  </div>
</body>
</html>